// Definir colores
$rojo: #b22222; 
$negro: #222; 
$beige: #f5f1e8; 
$blanco: #fff;
$gris: #444;
$primary-color: #cc0f2215;
$secondary-color: #5a6269;
$light-bg: #f8f9fa;
$dark-bg: #343a40;
$text-light: #ffffff;
$text-dark: #000000;
